.imageSliderContainer{
    width: 50%;
}
.textContainer{
    width: 50%;
}
section{
    display: flex;
    flex-direction: row;
}
.slider{
    position: relative;
    bottom: 100px;
}
.textContainer{
    position: relative;
    justify-content: center;
    
}
.textContainerInner{
    position: relative;
    top: 120px;
    margin: auto;
    width: 70%;
    height: 80%;
    
}

h1{
    font-size: 35px;
}
h3{
    font-size: 25px;
}

.buy_button{
    position: relative;
    top: 50px;
    width: 160px;
    height: 55px;
    border-radius: 30px;
    font-size: 20px;
    background-color: rgb(32, 87, 158);
    border: 0px;
}
.buy_button:hover{
    background-color: rgb(142, 142, 120);
}
.topPage{
    height: 50vh;
    margin-bottom: 40vh;
    margin-top: 100px;
    margin-right: 100px;
    float: right;
}